<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{tempVar.countdownMsg}}</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>Headlines</p>
            <div ng-repeat="news in tempVar.mainNews">
                <a href="{{news.link}}" target="_blank">{{news.title}}</a>
            </div>
        </div>
        <div class="col-md-6">
            <p>World News</p>
            <div ng-repeat="wnews in tempVar.worldNews">
                <a href="{{wnews.link}}" target="_blank">{{wnews.title}}</a>
            </div>
        </div>
    </div>
    <div>
        <p>Bookmarks</p>
        <div ng-repeat="img in tempVar.bookmarks">
            <a href="{{img.url}}" target="_blank"><img ng-src="{{img.imageString}}" /></a>
        </div>
    </div>
</div>